@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
@font-face {
  font-family: 'NanumSquareRound';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

ul, li {
  padding-left: 0;
}

table {
  border-collapse: collapse;
}

@media (min-width: 320px) and (max-width: 767px) {
  br.type_01 {
    display: block;
  }
  br.type_02 {
    display: block;
  }
  br.type_03 {
    display: block;
  }
  br.type_04 {
    display: block;
  }
  header {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 45px 15px;
    z-index: 30;
    background-color: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header_wrap {
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  header .header_wrap #backtotop {
    background-color: #333;
    font-size: 0.8em;
    color: #fff;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: fixed;
    bottom: 60px;
    right: 15px;
    font-family: 'NanumSquareRound';
    -webkit-transition-property: background-color, opacity, visibility;
    transition-property: background-color, opacity, visibility;
    -webkit-transition-duration: 0.3s, 0.5s, 0.5s;
            transition-duration: 0.3s, 0.5s, 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
  }
  header .header_wrap #backtotop:after {
    line-height: 40px;
  }
  header .header_wrap #backtotop.show {
    opacity: 1;
    visibility: visible;
  }
  header .header_wrap a {
    color: #000;
  }
  header .header_wrap .header_logo_label .header_logo {
    position: relative;
    background: url("../img/logo_simbol_b.png") no-repeat;
    background-size: cover;
    font-size: 0;
    width: 38px;
    height: 36px;
    display: block;
  }
  header .header_wrap .header_logo_label .header_logo span {
    position: absolute;
    left: -32%;
    top: -30%;
    background-image: url("../img/h_l_c.png");
    background-size: cover;
    font-size: 0;
    width: 60px;
    height: 60px;
    display: block;
    -webkit-animation: round_image 10s linear infinite;
            animation: round_image 10s linear infinite;
  }
  @-webkit-keyframes round_image {
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes round_image {
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  header .header_wrap .header_logo_txt {
    position: absolute;
    top: 10%;
    left: 20%;
    font-family: 'NanumSquareRound';
    font-weight: 600;
    font-size: 20px;
    color: #000;
    text-align: left;
  }
  header .header_wrap .trigger-menu {
    width: 20px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 20%;
    border: 0px;
    background-color: #fff;
    display: inline-block;
  }
  header .header_wrap .trigger-menu span {
    width: 100%;
    border-bottom: 2px solid #000;
    position: absolute;
    left: 0;
    top: 50%;
  }
  header .header_wrap .trigger-menu span:nth-child(1) {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  header .header_wrap .trigger-menu span:nth-child(3) {
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
}

.header_menu_box_btn {
  font-family: 'NanumSquareRound';
  position: fixed;
  display: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 19;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.header_menu_box_btn .btn_bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
}

.header_menu_box_btn .btn_txt {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 300px;
  height: auto;
  -webkit-transform: translate(-54%, -60%);
          transform: translate(-54%, -60%);
  z-index: 2;
}

.header_menu_box_btn .btn_txt a {
  float: left;
  font-weight: bold;
  width: 100%;
  height: auto;
  line-height: 1.5;
  font-size: 24px;
  text-align: center;
  color: #000;
  margin-top: 15px;
}

.header_menu_box_btn .btn_txt a:first-child {
  margin-top: 0;
}

.header_menu_box_btn .btn_footer {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 300px;
  height: auto;
  line-height: 1.8;
  -webkit-transform: translate(-54%, -50%);
          transform: translate(-54%, -50%);
  text-align: center;
  color: #000;
  font-size: 14px;
  z-index: 2;
  font-family: 'Roboto';
  font-weight: bold;
}

.header_menu_box_btn.active {
  display: block;
}

header.active {
  padding: 30px 15px;
}

footer {
  width: 100%;
  height: auto;
  padding: 45px 50px;
  z-index: 1;
  background-color: #fff;
  position: relative;
}

footer .footer_menu {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  height: auto;
}

footer .footer_menu .footer_label_wrap {
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
  width: 90%;
  text-align: left;
  margin-left: 20px;
}

footer .footer_menu .footer_label_wrap .footer_label {
  font-family: 'NanumSquareRound';
  font-weight: 600;
  width: 30%;
  height: 52px;
  line-height: 35px;
  font-size: 14px;
  color: #000;
  text-align: left;
}

footer .footer_menu .footer_label_wrap .footer_label img {
  width: 30px;
  margin-right: 5px;
}

footer .footer_info {
  width: 100%;
  height: auto;
}

footer .footer_info .info_content {
  width: 100%;
  height: auto;
}

footer .footer_info .info_content .info_content_wrap ul {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer_info .info_content .info_content_wrap ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'NanumSquareRound';
  width: 100%;
  padding: 5px 20px;
}

footer .footer_info .info_content .info_content_wrap ul li .info_title {
  font-weight: bold;
  font-family: 'Roboto';
  width: 65px;
  height: 20px;
  line-height: 2;
  font-size: 12px;
  color: #000;
  text-align: left;
}

footer .footer_info .info_content .info_content_wrap ul li .info_txt {
  width: calc(100% - 65px);
  height: 20px;
  line-height: 2;
  font-size: 11px;
  color: #000;
  text-align: left;
}

footer .footer_info .info_content .info_content_wrap ul li .info_txt a {
  color: #000;
}

footer .footer_info .info_copy {
  font-family: 'Roboto';
  width: 100%;
  height: auto;
  line-height: 1.5;
  font-size: 11px;
  color: #000;
  text-align: left;
  padding-left: 20px;
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .visual {
    position: relative;
    height: 30vh;
  }
  .visual > div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .visual > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .visual_wrap {
    background-color: #fff;
    padding: 120px 0px;
    text-align: center;
  }
  .visual_wrap .filter_wrap {
    width: 90%;
    margin: 0 auto;
    -webkit-animation: txtup 0.3s forwards;
            animation: txtup 0.3s forwards;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  .visual_wrap .filter_wrap .filter {
    font-family: 'Roboto';
    font-size: 12px;
    width: 100%;
    text-align: left;
    margin: 0 auto;
  }
  .visual_wrap .filter_wrap .filter img {
    margin-right: 5px;
    width: 15px;
    height: 15px;
  }
  .visual_wrap .filter_wrap .filter span {
    font-weight: bold;
  }
  .visual_wrap .filter_wrap .filter span span {
    font-family: 'NanumSquareRound';
    position: relative;
    color: #6a6a6a;
  }
  .visual_wrap .filter_wrap .filter span ::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: #6a6a6a;
  }
  .visual_wrap .filter_wrap .filter.active {
    display: none;
  }
  .visual_wrap .filter_wrap .filter_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: none;
    font-family: 'NanumSquareRound';
    font-size: 12px;
    width: 100%;
    text-align: left;
    margin: 0 auto;
  }
  .visual_wrap .filter_wrap .filter_text .filter_img img {
    margin-top: 2px;
    margin-right: 20px;
    width: 15px;
    height: 15px;
  }
  .visual_wrap .filter_wrap .filter_text .filter_span span {
    font-weight: bold;
    display: inline-block;
    position: relative;
    color: #6a6a6a;
    margin: 0 10px 10px 0;
  }
  .visual_wrap .filter_wrap .filter_text .filter_span span:nth-of-type(1)::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: #6a6a6a;
  }
  .visual_wrap .filter_wrap .filter_text.active {
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .visual_wrap .visual_text {
    font-family: 'NanumSquareRound';
    font-size: 12px;
    line-height: 1.8;
    text-align: center;
    color: #000;
  }
  .visual_wrap .visual_text h2 {
    font-size: 24px;
  }
  .visual_wrap .visual_text h2 span {
    color: #fed136;
  }
  .visual_wrap ul {
    width: 90%;
    margin: 30px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .visual_wrap ul li {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 100%;
    margin-bottom: 5%;
  }
  .visual_wrap ul li .list_box_img {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .visual_wrap ul li .list_box_img .list_img {
    position: relative;
    width: 100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .visual_wrap ul li .list_box_img .list_img img {
    width: 100%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  .visual_wrap ul li .list_box_img .list_img .list_img_bg {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fed130;
    width: 100%;
    height: 0%;
    z-index: 10;
    opacity: 1;
  }
  .visual_wrap ul li .list_txt {
    font-family: 'NanumSquareRound';
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
    -webkit-animation: txtup 0.3s forwards;
            animation: txtup 0.3s forwards;
  }
  .visual_wrap ul li .list_txt .title {
    margin-top: 10px;
    font-weight: normal;
    line-height: 25px;
    font-size: 12px;
    color: #8c8c8c;
    text-align: left;
  }
  .visual_wrap ul li .list_txt .sub {
    line-height: 30px;
    font-size: 14px;
    color: #000;
    text-align: left;
    font-weight: 600;
  }
  .visual_wrap ul li.active {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  .visual_wrap ul li.active img {
    -webkit-animation: scale1 0.3s 0.5s forwards;
            animation: scale1 0.3s 0.5s forwards;
  }
  .visual_wrap ul li.active .list_img_bg {
    -webkit-animation: imgdown 1s ease;
            animation: imgdown 1s ease;
  }
  @-webkit-keyframes scale1 {
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale1 {
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @-webkit-keyframes imgdown {
    30% {
      height: 100%;
      opacity: 1;
    }
    80%, 100% {
      height: 100%;
      opacity: 0;
    }
  }
  @keyframes imgdown {
    30% {
      height: 100%;
      opacity: 1;
    }
    80%, 100% {
      height: 100%;
      opacity: 0;
    }
  }
  .visual_wrap ul :nth-of-type(1) {
    -webkit-animation: txtup 0.5s forwards;
            animation: txtup 0.5s forwards;
  }
  @-webkit-keyframes txtup {
    to {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
    }
  }
  @keyframes txtup {
    to {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
    }
  }
}

.load_more_box {
  width: 100%;
  height: auto;
  padding: 45px 0px 0px;
  text-align: center;
}

.load_more_box .show_img {
  position: relative;
  width: auto;
  height: auto;
  padding-top: 30px;
  cursor: pointer;
  background-color: #fff;
  border: 0px;
}

.load_more_box .show_img img {
  background: url("../img/LOAD-MORE.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: -5px;
  left: 50%;
  width: 30px;
  height: 29.5px;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.load_more_box .show_img .title {
  font-family: 'NanumSquareRound';
  font-weight: 600;
  line-height: 1.5;
  font-size: 14px;
  color: #000;
  margin-top: 20px;
}

.load_more_box.active {
  display: none;
}
/*# sourceMappingURL=index.css.map */